[Unit]
Description=retain-api
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/home/brig/code/retain
ExecStart=/home/brig/code/retain/.venv/bin/python3 -m gunicorn -w 1 --bind 0.0.0.0:3001 wsgi:app
Restart=always
RestartSec=5
Environment="PATH=/home/brig/code/retain/.venv/bin:$PATH"

[Install]
WantedBy=multi-user.target
