.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px;
}

.lightbulbSvg {
  color: rgb(32, 33, 36);
  height: 120px;
  width: 120px;
  opacity: 0.1;
  margin: 20px;
}

.noNotesYetText {
  color: rgb(95, 99, 104);
  font-family: 'Outfit';
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
}
