[Unit]
Description=retain-api
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/home/brig/code/retain
ExecStart=/usr/bin/node /home/brig/code/retain/backend/dist/app.js
Restart=always
RestartSec=5
Environment="PATH=/usr/bin:/usr/local/bin:$PATH"

[Install]
WantedBy=multi-user.target
