.searchbar {
  max-width: 600px;
  width: 100%;
  background-color: rgb(241, 243, 244);
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.searchbarButton {
  border: none;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  padding: 11px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  margin-right: 8px;
}

.searchbarSvg {
  width: 24px;
  height: 24px;
  fill: rgb(95, 99, 104);
}

.searchbarButton:hover {
  background-color: rgba(60, 64, 67, 0.08);
}

.searchInput {
  font-family: 'Outfit';
  font-size: 16px;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: inherit;
  border: none;
  width: 100%;
}

.searchInput:focus {
  outline: none;
}

.refreshSvg {
  width: 24px;
  height: 24px;
  fill: rgb(95, 99, 104);
}

.refreshButton {
  border: none;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
}

.refreshButton:hover {
  background-color: rgba(60, 64, 67, 0.08);
}

.refreshButton:hover .refreshSvg {
  fill: black;
}
