:root {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0px;
}

body {
  color: #202124;
}

button {
  border: 1px solid transparent; /* So that it doesn't grow when focused */
  cursor: pointer;
  outline: none;
}

input,
textarea {
  border: 1px solid transparent; /* So that it doesn't grow when focused */
  outline: none;
}

button:focus,
input:focus,
textarea:focus {
  border-radius: 0px;
  border-bottom: 1px solid rgb(203, 203, 203);
}

.main-content {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

.invisible {
  visibility: hidden;
}

/* AutoResizingTextarea */

.auto-resizing-textarea {
  resize: none;
  overflow-y: auto;
  max-height: 80vh;
}

/* LoadingSpinner */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  border: 2px solid transparent;
  border-top: 2px solid rgb(95, 99, 104);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 1s linear infinite;
}

/* Navbar */

.navbar-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
  padding: 8px;
}

.navbar-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  flex: 1;
}

.navbar-title-text {
  font-size: 22px;
  color: rgb(95, 99, 104);
}

.navbar-searchbar {
  max-width: 600px;
  width: 100%;
  background-color: rgb(241, 243, 244);
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.navbar-searchbar-form {
  display: inherit;
  width: 100%;
  height: 100%;
}

.navbar-searchbar-input {
  font-family: 'Outfit';
  font-size: 16px;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: inherit;
  width: 100%;
}

.navbar-searchbar-svg {
  width: 24px;
  height: 24px;
  fill: rgb(95, 99, 104);
}

.navbar-searchbar-button {
  background-color: transparent;
  border-radius: 50%;
  padding: 11px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  margin-right: 8px;
}

.navbar-searchbar-button:hover {
  background-color: rgba(60, 64, 67, 0.08);
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

/* NoteCreateCard */

.note-create-card-container {
  margin: 16px;
  margin-top: 32px;
  margin-bottom: 32px;
  border-radius: 8px;
  border: 1px solid rgb(224, 224, 224);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px 0px;
  overflow: hidden;
}

.note-create-card-title {
  border-radius: inherit;
  color: #202124;
  font-family: 'Outfit';
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 24px;
  min-height: 38px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.note-create-card-content {
  color: rgb(32, 33, 36);
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 20px;
  min-height: 46px;
  padding: 12px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}

/* NoteModal */

.note-modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.218s ease-in;
}

.note-modal-card {
  background: white;
  border-radius: 8px;
  max-width: 550px;
  width: 100%;
  overflow: hidden;
}

.note-modal-edit-note-title {
  color: #202124;
  padding: 15px;
  padding-top: 16px;
  padding-bottom: 12px;
  font-size: 22px;
  font-family: 'Outfit';
  border-radius: inherit;
  line-height: 28px;
  min-height: 43px;
  width: 100%;
}

.note-modal-edit-note-content {
  color: rgb(32, 33, 36);
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  min-height: 46px;
  padding: 16px;
  padding-top: 4px;
  padding-bottom: 12px;
  width: 100%;
}

.note-modal-edit-note-timestamp-tag-container {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
}

.note-modal-edit-note-timestamp-tag {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 6px;
  margin-right: 6px;
}

/* NoteToolbar */

.note-toolbar {
  display: flex;
  justify-content: space-between;
}

.note-toolbar-button {
  background-color: transparent;
  border-radius: 4px;
  padding: 8px;
  padding-left: 24px;
  padding-right: 24px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  font-weight: 500;
}

.note-toolbar-button:hover {
  background-color: rgba(95, 99, 104, 0.039);
}

/* NoteViewCard */

.note-view-card {
  border-radius: 8px;
  border: 1px solid rgb(224, 224, 224);
  margin: 16px;
  color: rgb(32, 33, 36);
  cursor: pointer;
}

.note-view-card:hover {
  border-color: rgb(151, 151, 151);
}

.note-view-card-title {
  padding: 12px 16px 0px;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Outfit';
}

.note-view-card-content {
  font-size: 14px;
  font-weight: 400;
  padding: 12px 16px;
}

/* Sidebar */

.sidebar {
  width: 200px;
  position: fixed;
  top: 69px;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar-link {
  color: rgb(32, 33, 36);
  cursor: pointer;
  font-family: 'Outfit';
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 20px;
  text-decoration: none;
  padding: 24px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid transparent;
}

.sidebar-link:focus {
  outline: none;
  border-color: rgb(95, 99, 104);
}

.sidebar-link:hover {
  background-color: rgb(241, 243, 244);
}

.sidebar-link.active {
  background-color: #feefc3;
}

/* SyncStatusButton */

.sync-status-button {
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
}

.sync-status-button:hover {
  background-color: rgba(60, 64, 67, 0.08);
}

.sync-status-button:hover .refresh-svg {
  fill: black;
}

.refresh-svg {
  width: 24px;
  height: 24px;
  fill: rgb(95, 99, 104);
}

/* Toast */

.toast-container {
  position: fixed;
  bottom: 32px;
  left: 32px;
  padding: 14px;
  padding-left: 24px;
  background-color: rgb(50, 50, 50);
  color: white;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px 0px;
  font-size: 14px;
  margin-top: 10px;
  width: 400px;
  display: flex;
  align-items: center;
}

.toast-text {
  font-size: 14px;
  line-height: 22.4px;
  flex-grow: 1;
}

.toast-close-svg {
  fill: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.toast-close-svg:hover {
  opacity: 0.87;
  background-color: rgba(95, 99, 104, 0.157);
}

.toast-close-button {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Misc */

.no-matching-results-text {
  color: rgb(32, 33, 36);
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 40px;
  text-align: center;
}

.no-notes-empty-state-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px;
}

.no-notes-empty-state-svg {
  color: rgb(32, 33, 36);
  height: 120px;
  width: 120px;
  opacity: 0.1;
  margin: 20px;
}

.no-notes-empty-state-text {
  color: rgb(95, 99, 104);
  font-family: 'Outfit';
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
}

.note-list-header {
  color: rgb(95, 99, 104);
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.8px;
  line-height: 16px;
  margin-bottom: -8px;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 32px;
  text-transform: uppercase;
}
